.App {
  background: var(--c-dark-md);
}

/* ---Go-Home-Link--- */
.go_home {
  position: fixed;
  top: var(--l-sm4);
  left: var(--l-sm4);
  width: 45px;
  height: 45px;
  background: var(--c-blue-sm);
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
              inset 2px 2px 5px rgba(255, 255, 255, 0.5),
              inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.go_home .react-bubbly-transitions__bubbly-link .home_icon {
  color: var(--c-label-sm);
  transition: var(--transition-1);
}
.go_home:hover {
  cursor: pointer;
}
.go_home:hover .react-bubbly-transitions__bubbly-link .home_icon {
  color: var(--c-turquoise);
}

/* ---Scroll-Top/Bottom--- */
.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 16px;
  z-index: 200;
}
.icon-position2{
  position: fixed;
  top: 120px;
  right: 16px;
  z-index: 200;
}
.icon-style{
  background-color: #3E54AC;
  border: 2px solid var(--c-label-sm);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: var(--c-label-sm);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: movebtn 3s ease-in-out infinite;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: var(--c-label-sm);
  color: #551B54;
  border: 2px solid var(--c-orange-md);
}
@keyframes movebtn {
  0%{
      transform: translateY(0px);
  }
  25%{
      transform: translateY(20px);
  }
  50%{
      transform: translateY(0px);
  }
  75%{
      transform: translateY(-20px);
  }
  100%{
      transform: translateY(0px);
  }
}

/* ---Sidebar--- */
.sidebar {
  width: 280px;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  translate: 280px 0;
  overflow-y: auto;
  background: var(--c-dark-sm);
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  transition: var(--transition-1);
  z-index: 210;
}
.sidebar.open {
  translate: 0;
}

/* ---Sidebar-Toggler--- */
.sidebar_toggler_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 220;
}
.sidebar_toggler_wrapper p {
  color: var(--c-label);
}
.sidebar_toggler_wrapper.open {
  background: var(--c-dark-sm);
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);

  border-bottom-left-radius: var(--l-md2);
  padding-left: var(--l-md2);
}
.sidebar_toggler_wrapper:hover {
  cursor: pointer;
}
.sidebar_toggler {
  border: none;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform var(--transition-2);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.line {
  fill:none;
  transition: stroke-dasharray var(--transition-2), stroke-dashoffset var(--transition-2);
  stroke:var(--c-orange-md);
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/* ---Sidebar-Links--- */
.react-bubbly-transitions__bubbly-link {
  width: 100%;
  text-shadow: var(--text-shadow);
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background: var(--c-blue-sm);
  border-radius: 22.5px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
              inset 2px 2px 5px rgba(255, 255, 255, 0.5),
              inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: var(--transition-1);
}

.list-item:hover::before {
  width: 100%;
}

.list-item .rank {
  position: relative;
  min-width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.list-item .rank::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background: var(--c-dark-md);
  border-radius: 35px;
  transform: scale(0);
  transition: var(--transition-1);
}

.list-item:hover .rank::before {
  transform: scale(1);
}

.list-item .rank span {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: var(--c-label-sm);
  transition: var(--transition-1);
}
.list-item:hover .rank span {
  color: var(--c-light);
}

.list-item .name {
  position: relative;
  line-height: 1.15rem;
}

.list-item .name h4 {
  font-weight: 700;
  color: var(--c-label);
  transition: var(--transition-1);
  margin: 0;
}
.list-item:hover .name h4 {
  color: var(--c-orange-md);
}
.react-bubbly-transitions__bubbly-link.active .list-item::before {
  width: 100%;
}
.react-bubbly-transitions__bubbly-link.active .rank::before {
  transform: scale(1);
  border: 2px solid var(--c-orange-md);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.react-bubbly-transitions__bubbly-link.active .name h4 {
  color: var(--c-light);
}
.react-bubbly-transitions__bubbly-link.active .list-item .rank span {
  color: var(--c-light);
}
/* ---Sidebar-Links-Animation--- */
.nav li {
  translate: 110% 0;
  transition: var(--transition-1);
}
.nav :first-child.open {
  transition-delay: 250ms;
  translate: 0;
}
.nav :nth-child(2).open {
  transition-delay: 300ms;
  translate: 0;
}
.nav :nth-child(3).open {
  transition-delay: 350ms;
  translate: 0;
}
.nav :nth-child(4).open {
  transition-delay: 400ms;
  translate: 0;
}
.nav :nth-child(5).open {
  transition-delay: 450ms;
  translate: 0;
}
.nav :last-child.open {
  transition-delay: 500ms;
  translate: 0;
}
/* ---Sidebar-Dropdown-Menu--- */
.dropdown-menu {
  background: var(--c-dark-sm);
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.dropdown-menu .dropdown-item {
  background: transparent;
  color: var(--c-label);
  transition: var(--transition-1);
}
.dropdown-item:hover {
  color: var(--c-orange-md);
}
/* --------------------------- */

.page {
  /* position: relative; */
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.hero {
  width: 100%;
  height: fit-content;
  background-image: var(--bg-home-hero);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1,
.hero_login h2 {
  font-family: "Tilt Neon", sans-serif;
  --light-pos-x: 1;
  --light-pos-y: -1;
  --rim-size: .02ch;
  --shadow-offset: .1ch;
  --shadow-blur: .1ch;
  color: var(--c-dark-md);
  font-size: 10vmin;
  letter-spacing: .075ch;
  text-shadow: calc(max(var(--rim-size), 1px)*var(--light-pos-x)) 
  calc(max(var(--rim-size), 1px)*var(--light-pos-y)) #fff,
  calc(max(var(--rim-size), 1px)*var(--light-pos-x)*-1) 
  calc(max(var(--rim-size), 1px)*var(--light-pos-y)*-1) #999,
  calc(var(--shadow-offset)*var(--light-pos-x)*-1) 
  calc(var(--shadow-offset)*var(--light-pos-y)*-1) var(--shadow-blur) hsla(0,0%,50%,.75);
}

.hero p,
.hero_login p {
  color: var(--c-label);
  letter-spacing: 1px;
  max-inline-size: 50ch;
  white-space: unset;
  text-wrap: balance;
  text-indent: var(--l-md2);
}
.hero p::first-letter,
.hero_login p::first-letter {
  font-size: clamp(var(--l-md3), calc(var(--size) * 1.2), var(--l-lg1));
  font-weight: 700;
}

.hero_img_wrapper {
  position: relative;
}
.rings_pattern {
  position: absolute;
  top: 0;
  left: 0; 
  transform: rotate(15deg);
  z-index: 1;
}
.home_hero_img,
.login_hero_img {
  filter: var(--img-shadow-dark);
}

.divider_bottom,
.divider_rounded_top {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ---Pdf-Book-Search-Input--- */
.input-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
}

.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: var(--c-blue-sm);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
              inset 2px 2px 5px rgba(255, 255, 255, 0.5),
              inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  padding-right: 40px;
  color: var(--c-label-sm);
}

.input::placeholder,
.input {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 17px;
}

.input::placeholder {
  color: var(--c-label);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: .2s linear;
}

.icon:focus ~ .input,
.input:focus {
  box-shadow: none;
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid var(--c-blue-sm);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* ---Pdf-Book-Filter--- */
@keyframes glow-btn {
  0% {
  border-color: #393;
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  }	
  100% {
  border-color: #6f6;
  box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
  }
}
.book_category_btn {
  border: 1px solid var(--c-turquoise);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
              inset 2px 2px 5px rgba(255, 255, 255, 0.5),
              inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  transition: var(--transition-1);
}
.book_category_btn:hover {
  background-image: var(--filter-btn-bg);
  border: 1px solid #393;
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  animation: glow-btn 800ms ease-out infinite alternate;
  scale: 1.075;
}

/* ---Footer--- */
.footer {
  background: var(--c-grey);
}
/* ------------ */


@media (width <= 1024px) {
  .hero h1,
  .hero_login h2 {
    font-size: 15vmin;
  }
  .divider_bottom,
  .divider_rounded_top {
    position: relative;
    width: 100%;
    max-height: 70px;
  }
  .rings_pattern {
    top: 8%;
    left: 0; 
    /* right: 0; 
    bottom: 0; */
    transform: rotate(15deg);
  }
  .link {
    font-size: 1.2rem;
  }
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
